#alert{
    text-align: center;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 11000;
    width: 100%;
    height: 20px;
    right: 0px;
    left: 0px;
    transition: height 0.3s;
}
#alertMessage{
    font-weight: 400;
    display: block;
    color: white;
    background-color: #10847E;
    font-size: 18px;
    margin-top: 10px;
    width: 350px;
    padding: 15px 20px;
    border-radius: 100px;
    box-shadow: rgb(204, 228, 232) 3px 3px 6px 0px inset, rgba(11, 169, 114, 0.5) -3px -3px 6px 1px inset;
}

#LogIn_SignUp-background {
    top: 0px;
    z-index: 5000;
    position: fixed;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.725);
    height: 100vh;
    width: 100%;
}

#LogIn_SignUp {
    top: 0px;
    z-index: 10000;
    position: relative;
    right: 0px;
    width: 440px;
    height: 100vh;
    position: fixed;
    display: none;
    /* Changes to none */
    flex-direction: column;
    background-color: white;
}

#LogIn_SignUp-Head {
    height: 104px;
    background-color: #10847E;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#LogIn_SignUp-Head>img:first-child {
    height: 80px;
    margin: 0 40px;
}

#LogIn_SignUp-Head>img:last-child {
    position: absolute;
    right: 30px;
    top: 25px;
    height: 80px;
    width: 140;
}

#LogIn_SignUp-form {
    margin: 16px 40px;
    display: flex;
    flex-direction: column;
}

#mobileNoInpt {
    border-radius: 8px;
    width: 348px;
    margin-top: 24px;
    padding: 14px 0 14px 14px;
    border: 1px solid #8897A2;
}

#send_otp {
    border: 0px;
    margin-top: 16px;
    width: 364px;
    padding: 14px 0 14px 14px;
    background-color: #10847E;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#logInForm>label {
    font-size: 16px;
    font-weight: 600;
    color: #4F585E;
}

#LogIn_SignUp-form>div {
    padding: 0px;
    margin-top: 16px;
    font-size: 12px;
    color: #4F585E;
}

#LogIn_SignUp-form>div>span:last-child {
    color: #10847E;
    font-weight: bold;
}

#logInClose {
    background-color: #10847E;
    position: absolute;
    padding: 15px;
    left: -50px;
    top: 30px;
    cursor: pointer;
}

#logInClose>svg {
    filter: invert();
}

#otpInputs {
    margin-top: 16px;
    display: flex;
    width: 360px;
    height: 45px;
    justify-content: space-between;
}

#otpInputs>input {
    text-align: center;
    width: 52px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #4F585E;
    font-size: 16px;
}

#Continue {
    border: 0px;
    margin-top: 16px;
    width: 364px;
    padding: 14px 0 14px 14px;
    background-color: #10847E;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#OTPform>label {
    font-size: 16px;
    font-weight: 400;
    color: #4F585E;
}

/*Navbars*/
* {
    font-family: sans-serif;
}
#PharmNotEasyLogo{
    cursor: pointer;
}
#separator {
    display: block;
    height: 115px;
    width: 100%;
    background-color: #3c3030;
}
#nav_cont {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 4000;
    top: 0px;
}

#main_navbar {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    justify-content: space-between;
    font-family: sans-serif;
    box-shadow: rgb(0 0 0 / 12%) 0px -1px 0px inset
}

#logo_sec {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_sec>img {
    height: 50px;
}

#line {
    height: 40px;
    display: block;
    width: 1px;
    margin: 0 20px 0 15px;
    background-color: rgb(99, 99, 99);
}

#delivery {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 12px;
    color: #4F585E;
}

#delivery>b {
    font-size: 14px;
    color: #30363C;
}

#delivery>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#delivery svg {
    transform: rotate(90deg);
}

svg {
    height: 24px;
    width: 24px;
    box-sizing: content-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

*:focus {
    outline: none;
}

.searchInput,
.searchInput2 {
    display: inline;
    font-size: 14px;
    border: none;
    width: 100%;
}

::placeholder {
    color: #8897A2;
    font-weight: 500;
}

#search_nav,
#search_nav2 {
    position: relative;
    height: 35px;
    color: #8897A2;
    font-size: 14px;
    padding: 4px 4px 4px 24px;
    border: 1px solid rgb(215, 223, 229);
    border-radius: 100px;
    background-color: white;
    display: flex;
    /*CHANGE - flex/none*/
    align-items: center;
    justify-content: space-between;
    width: 450px;
}

#search_nav>div:nth-child(1),
#search_nav2>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 70%;
}

#search_sec {
    display: flex;
    align-items: center;
    width: 90%;
}

#search_sec>span {
    display: flex;
    gap: 5px;
}

#search_sec>span>div {
    height: max-content;
    animation: 7s cubic-bezier(0, 0, 0.3642, 1) 0s infinite normal none running k-gYkPdm;
}

.searchBtn,
.searchBtn2 {
    cursor: pointer;
    padding: 0px;
    background-color: #10847E;
    border-radius: 100px;
    color: white;
    width: 88px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_options {
    color: #30363C;
    font-size: 14px;
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_options>div:nth-child(1)~div {
    margin: 0 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

#nav_options>div:nth-child(1)~div:hover {
    cursor: pointer;
    border-bottom: 1px dashed #30363C;
}

#download_app {
    cursor: pointer;
    margin: 0 10px;
    display: none;
    /*CHANGE - none/flex*/
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 244, 255);
    border-radius: 8px;
    padding: 8px;
}

#redDOT {
    height: 6px;
    width: 6px;
    margin-left: 2px;
    background-color: rgb(255, 92, 92);
    border-radius: 50%;
    position: absolute;
}

#slideNav {
    display: inline;
    /*CHANGE - inline/none*/
}

#child_nav1 {
    background-color: rgb(238, 244, 255);
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#child_nav1>a {
    font-weight: 500;
    color: #30363C;
    text-decoration: none;
    height: 19px;
    font-size: 14px;
    line-height: 17px;
}

#child_nav1>a:hover {
    border-bottom: 1px dashed #30363C;
}

#searchSuggest {
    transition: heigth 0.5s;
    margin: auto;
    position: absolute;
    bottom: -325.5px;
    z-index: 500;
    left: 0px;
    height: 325px;
    width: 99.7%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    border: 1px solid rgb(215, 223, 229);
    box-shadow: rgb(0 0 0 / 6%) 0px 4px 8px;
}

#searchSuggestBG2,
#searchSuggestBG {
    z-index: 1;
    top: 0px;
    position: fixed;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    left: 0px;
    right: 0px;
    width: 100%;
}

#theBody {
    margin: auto;
    width: 70%;
    padding-bottom: 50px;
}

#currentPage {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

#currentPage>a {
    text-decoration: none;
    color: #4F585E;
    line-height: 1.5;
}

#currentPage span {
    color: #8897A2;
}

#section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#filterPart {
    width: 240px;
    display: flex;
    flex-direction: column;
}

#filterHeading {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 600;
    color: #30363C;
}

#filterCat,
#filterSubcat,
#filterBrand {
    border-bottom: 1px solid #dfe3e6;
    padding: 10px;
    margin-bottom: 30px;
}

#filterPrice {
    padding: 10px;
    margin-bottom: 30px;
}

#filHead1,
#filHead2,
#filHead3,
#filHead4 {
    color: #4f585e;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
    width: 100%;
    margin-bottom: 25px;
}

#filterCat>div:last-child>div,
#filterSubcat>div:last-child>div,
#filterBrand>div:last-child>div,
#filterPrice>div:last-child>div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #4F585E;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

#filterCat>div:last-child>div>label,
#filterSubcat>div:last-child>div>label,
#filterBrand>div:last-child>div>label,
#filterPrice>div:last-child>div>label {
    cursor: pointer;
}

#filterBrand>div:nth-child(2) {
    border: 1px solid #dfe3e6;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 8px;
}

#filterBrand>div:nth-child(2)>svg {
    opacity: 50%;
}

#filterBrand>div:nth-child(2)>input {
    display: block;
    border: 0px;
    width: 100%;
    font-size: 16px;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

input[type="radio"] {
    accent-color: #10847E;
}

input[type="checkbox"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

#productPart {
    width: 744px;
}

#headContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headContent>div {
    width: 340px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #4f585e;
}

#headContent>div>select {
    font-size: 16px;
    width: 248px;
    height: 39px;
    padding: 10px 24px 10px 10px;
    border: 1px solid #8897A2;
    border-radius: 6px;
}

#productSection {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 216px);
    gap: 30px 23px;
    align-content: center;
}

#productSection>div {
    display: flex;
    flex-direction: column;
    border: 1px solid #c7cbcdc0;
    border-radius: 8px;
    padding: 16px 15px 17px;
    width: 190px;
    overflow: hidden;
    text-align: left;
}

#productSection>div:hover {
    border: 1.5px solid #10847E;
}

/* product image div*/
#productSection>div>div:first-child {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* product img */
#productSection>div>div:first-child>img {
    height: 198px;
}

#productSection>div>div:nth-child(2) {
    width: 198px;
    margin: 5px 0px;
    line-height: 1.5;
    height: calc(3em);
    overflow: hidden;
    text-transform: capitalize;
    color: #4F585E;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#productSection>div>div:nth-child(3) {
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    gap: 10px;
    color: #8897A2;
}

#productSection>div>div:nth-child(3)>span>span {
    text-decoration: line-through;
}

#productSection>div>div:nth-child(3)>div {
    color: white;
    padding: 5px 11px;
    font-size: 10px;
    background-image: url(https://assets.pharmeasy.in/web-assets/_next/icons/pdp-discount.png);
    ;
}
#productSection>div>span{
    color: #4F585E;
    font-size: 16px;
    font-weight: 500;
}

#footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
#ratings{
    overflow: hidden;
    padding: 0px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
}
#ratings>img{
    margin-bottom: -10px;
    object-fit: cover;
    width: 100%;
}

#filter{
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    gap: 25px;
    font-size: 12px;
    font-weight: 400;
    color: #4F585E;
}
#filter>div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(207, 204, 204, 0.699);
}
#filter svg{
    margin-left: 5px;
    height: 20px;
    width: 20px;
}
#filter>div:hover{
    border: 1px solid #10847E;
}
#filter>span{
    font-weight: 600;
    color: #10847E;
}




