body {
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cart{
    position: relative;
}
#cartCount{
    display: none;
    left: 10px;
    top: -6px;
    position: absolute;
    border-radius: 50px;
    height: 16px;
    min-width: 15px;
    text-align: center;
    display: inline-block;
    font-size: 9px;
    color: white;
    background-color: #f47779;
    font-weight: 700;
}
#cartCount>div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#alert {
    text-align: center;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 11000;
    width: 100%;
    height: 20px;
    right: 0px;
    left: 0px;
    transition: height 0.3s;
}

#alertMessage {
    font-weight: 400;
    display: block;
    color: white;
    background-color: #10847E;
    font-size: 18px;
    margin-top: 10px;
    width: 350px;
    padding: 15px 20px;
    border-radius: 6px;
}

#LogIn_SignUp-background {
    top: 0px;
    z-index: 5000;
    position: fixed;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.725);
    height: 100vh;
    width: 100%;
}

#LogIn_SignUp {
    top: 0px;
    z-index: 10000;
    position: relative;
    right: 0px;
    width: 440px;
    height: 100vh;
    position: fixed;
    display: none;
    /* Changes to none */
    flex-direction: column;
    background-color: white;
}

#LogIn_SignUp-Head {
    height: 104px;
    background-color: #10847E;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#LogIn_SignUp-Head>img:first-child {
    height: 80px;
    margin: 0 40px;
}

#LogIn_SignUp-Head>img:last-child {
    position: absolute;
    right: 30px;
    top: 25px;
    height: 80px;
    width: 140;
}

#LogIn_SignUp-form {
    margin: 16px 40px;
    display: flex;
    flex-direction: column;
}

#mobileNoInpt {
    border-radius: 8px;
    width: 348px;
    margin-top: 24px;
    padding: 14px 0 14px 14px;
    border: 1px solid #8897A2;
}

#send_otp {
    border: 0px;
    margin-top: 16px;
    width: 364px;
    padding: 14px 0 14px 14px;
    background-color: #10847E;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#logInForm>label {
    font-size: 16px;
    font-weight: 600;
    color: #4F585E;
}

#LogIn_SignUp-form>div {
    padding: 0px;
    margin-top: 16px;
    font-size: 12px;
    color: #4F585E;
}

#LogIn_SignUp-form>div>span:last-child {
    color: #10847E;
    font-weight: bold;
}

#logInClose {
    background-color: #10847E;
    position: absolute;
    padding: 15px;
    left: -50px;
    top: 30px;
    cursor: pointer;
}

#logInClose>svg {
    filter: invert();
}

#otpInputs {
    margin-top: 16px;
    display: flex;
    width: 360px;
    height: 45px;
    justify-content: space-between;
}

#otpInputs>input {
    text-align: center;
    width: 52px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #4F585E;
    font-size: 16px;
}

#Continue {
    border: 0px;
    margin-top: 16px;
    width: 364px;
    padding: 14px 0 14px 14px;
    background-color: #10847E;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#OTPform>label {
    font-size: 16px;
    font-weight: 400;
    color: #4F585E;
}

/*Navbars*/
* {
    font-family: sans-serif;
}

#PharmNotEasyLogo {
    cursor: pointer;
}

#separator {
    display: block;
    height: 115px;
    width: 100%;
    background-color: #3c3030;
}

#nav_cont {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 4000;
    top: 0px;
}

#main_navbar {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    justify-content: space-between;
    font-family: sans-serif;
    box-shadow: rgb(0 0 0 / 12%) 0px -1px 0px inset
}

#logo_sec {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_sec>img {
    height: 50px;
}

#line {
    height: 40px;
    display: block;
    width: 1px;
    margin: 0 20px 0 15px;
    background-color: rgb(99, 99, 99);
}

#delivery {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 12px;
    color: #4F585E;
}

#delivery>b {
    font-size: 14px;
    color: #30363C;
}

#delivery>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#delivery svg {
    transform: rotate(90deg);
}

svg {
    height: 24px;
    width: 24px;
    box-sizing: content-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

*:focus {
    outline: none;
}

.searchInput,
.searchInput2 {
    display: inline;
    font-size: 14px;
    border: none;
    width: 100%;
}

::placeholder {
    color: #8897A2;
    font-weight: 500;
}

#search_nav,
#search_nav2 {
    position: relative;
    height: 35px;
    color: #8897A2;
    font-size: 14px;
    padding: 4px 4px 4px 24px;
    border: 1px solid rgb(215, 223, 229);
    border-radius: 100px;
    background-color: white;
    display: flex;
    /*CHANGE - flex/none*/
    align-items: center;
    justify-content: space-between;
    width: 450px;
}

#search_nav>div:nth-child(1),
#search_nav2>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 70%;
}

#search_sec {
    display: flex;
    align-items: center;
    width: 90%;
}

#search_sec>span {
    display: flex;
    gap: 5px;
}

#search_sec>span>div {
    height: max-content;
    animation: 7s cubic-bezier(0, 0, 0.3642, 1) 0s infinite normal none running k-gYkPdm;
}

.searchBtn,
.searchBtn2 {
    cursor: pointer;
    padding: 0px;
    background-color: #10847E;
    border-radius: 100px;
    color: white;
    width: 88px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_options {
    color: #30363C;
    font-size: 14px;
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_options>div:nth-child(1)~div {
    margin: 0 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

#nav_options>div:nth-child(1)~div:hover {
    cursor: pointer;
    border-bottom: 1px dashed #30363C;
}

#download_app {
    cursor: pointer;
    margin: 0 10px;
    display: none;
    /*CHANGE - none/flex*/
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 244, 255);
    border-radius: 8px;
    padding: 8px;
}

#redDOT {
    height: 6px;
    width: 6px;
    margin-left: 2px;
    background-color: rgb(255, 92, 92);
    border-radius: 50%;
    position: absolute;
}

#slideNav {
    display: inline;
    /*CHANGE - inline/none*/
}

#child_nav1 {
    background-color: rgb(238, 244, 255);
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#child_nav1>a {
    font-weight: 500;
    color: #30363C;
    text-decoration: none;
    height: 19px;
    font-size: 14px;
    line-height: 17px;
}

#child_nav1>a:hover {
    border-bottom: 1px dashed #30363C;
}

#searchSuggest {
    transition: heigth 0.5s;
    margin: auto;
    position: absolute;
    bottom: -325.5px;
    z-index: 500;
    left: 0px;
    height: 325px;
    width: 99.7%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    border: 1px solid rgb(215, 223, 229);
    box-shadow: rgb(0 0 0 / 6%) 0px 4px 8px;
}

#searchSuggestBG2,
#searchSuggestBG {
    z-index: 1;
    top: 0px;
    position: fixed;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    left: 0px;
    right: 0px;
    width: 100%;
}
#theBody {
    margin: auto;
    width: 85%;
    padding-bottom: 50px;
}

#currentPage {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

#currentPage>a {
    text-decoration: none;
    color: #4F585E;
    line-height: 1.5;
}

#currentPage span {
    color: #8897A2;
}

#viewCart_sec {
    width: 352px;
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    padding: 25px 0;
}

#viewCart_sec>span {
    font-size: 16px;
    color: #4f585e;
    font-weight: 550;
}

#viewCartBtn {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #8897a2;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#offersJustForYou {
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    border: 1px dashed #f3cab1;
    padding: 10px;
    font-size: 16px;
    color: #7a858c;
    font-weight: 550;
    border-radius: 8px;
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#offersJustForYou>svg {
    top: 0px;
    position: absolute;
    z-index: -1;
    left: 0px;
}

#offersJustForYou>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    color: #8a9399;
    gap: 10px;
}

#offersJustForYou>div>img {
    height: 25px;
}

#mainBodyCont {
    margin: 30px auto auto;
    display: flex;
}

#productSec {
    width: 924px;
    margin-right: 60px;
    display: flex;
}
#productSec button{
    cursor: pointer;
}
#imageSec {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 270px;
    margin-right: 30px;
    padding-bottom: 50px;
}
#smallImage div{
    cursor: pointer;
}
.readMore{
    color: #10847E;
}
.readMore:hover{
    color: #8897A2;
}
#mainImageDiv {
    cursor: pointer;
    width: 230px;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #dfe3e6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
#mainImage {
    width: 230px;
    height: 230px;
    transition: padding-right 0.5s;
    object-fit: contain;
}
#smallImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

#smallImages>div {
    overflow: hidden;
    width: 60px;
    padding: 7px 0;
    margin-right: 7px;
    border: 1px solid #dfe3e6;
    border-radius: 6px;
    height: 60px;
    text-align: center;
}

#smallImages>div>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#imageSec>div:last-child {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#itemRatingsInStar {
    height: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#itemRatingsInStar img {
    height: 23px;
    width: 23px;
}

#deatilsSec {
    width: 614px;
}

#itemName {
    font-size: 20px;
    font-weight: 600;
    color: #4F585E;
    width: 100%;
}

#itemStore {
    font-weight: 400;
    ;
    color: #1c8f89;
    font-size: 14px;
}

#noOfPeopleRated {
    margin-left: 10px;
    color: #8897A2;
    font-size: 14px;
    font-weight: 400;
}
#mainBodyCont{
    position: relative;
}
#addToCartSec{
    position: sticky;
    top: 0px;
    right: 0px;
}
#addToCartBtn, #MrUnknown {
    width: 140px;
    height: 45px;
    border: none;
    transition: opacity 200ms linear;
    background-color: #10847E;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#itemPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#discount {
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    width: 48px;
    color: white;
    padding: 5px 8px;
    font-size: 10px;
    background-image: url(https://assets.pharmeasy.in/web-assets/_next/icons/pdp-discount.png);
    ;
}

#amountSec {
    width: 300px;
    display: flex;
    gap: 10px;
}

#ProductDataShow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe3e6;
}
#size_quantity{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#size_quantity>div:last-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

#size_quantity>div:last-child>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4F585E;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    width: 74px;
    height: 36px;
    cursor: pointer;
}
#size_quantity>div:last-child>div:hover{
    border: 1px solid #10847E;
    color: #10847E;
    background-color: #f2fff8;
    cursor: pointer;
}
#weight {
    border: 1px solid #10847E;
    color: #10847E;
    background-color: #f2fff8;
    cursor: pointer;
}
#SP, #FB{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid;
    width: 924px;
    border-top: 1px solid #dfe3e6;
}
#SP>span, #FB>span{
    font-size: 16px;
    font-weight: 600;
    color: #4F585E;
}
#similarProducts, #Frequently_Bought{
    margin-top: 35px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}
#similarProducts>div, #Frequently_Bought>div{
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 340px;
    cursor: pointer;
    text-align: left;
    gap: 5px;
    cursor: pointer;
}
#similarProducts>div>div:first-child,#Frequently_Bought>div>div:first-child{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid #c7cbcdc0;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 15px 17px;
}
#similarProducts>div>div:first-child>img,#Frequently_Bought>div>div:first-child>img {
    width: 118px;
    height: 118px;
    cursor: pointer;
    object-fit: contain;
}
#similarProducts>div>div:nth-child(2),#Frequently_Bought>div>div:nth-child(2){
    font-size: 16px;
    color: #4F585E;
    font-weight: 600;
    width: 160px;
    overflow: hidden;
    margin: 5px 0px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    height: calc(3em);
}
#similarProducts>div>div:nth-child(3),#Frequently_Bought>div>div:nth-child(3){
    font-size: 14px;
    cursor: pointer;
    color: #4F585E;
}
#similarProducts>div>div:nth-child(4),#Frequently_Bought>div>div:nth-child(4){
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: #8897A2;
}
#similarProducts>div>div:nth-child(4)>span>span,#Frequently_Bought>div>div:nth-child(4)>span>span{
    text-decoration: line-through;
}
#similarProducts>div>span,#Frequently_Bought>div>span{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #4F585E;
}
.buttonOfSP, .buttonOfFB{
    margin-top: 20px;
    width: 94px;
    height: 45px;
    border: none;
    transition: opacity 200ms linear;
    background-color: #ffffff;
    color: #10847E;
    border: 1px solid #10847E;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    justify-content: center;
}
#alert2{
    width: 300px;
    position: fixed;
    font-weight: 600;
    color: white;
    height: 75px;
    display: inline-block;
    margin: auto;
    bottom: 0px;
}
#alert2msg{
    border-radius: 6px;
    background-color: #364350;
    padding-left: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 14px;
    height: 45px;
    display: flex;
    align-items: center;
    transition: margin-top 0.4s;
}
#alert2msg>img{
    height: 20px;
    filter: saturate(50);
    margin-right: 15px;
}












#footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#ratings {
    overflow: hidden;
    padding: 0px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
}

#ratings>img {
    margin-bottom: -10px;
    object-fit: cover;
    width: 100%;
}
.button:hover{
    cursor: pointer;
}